.site-nav {
  font-size: 16px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -.025rem;
  line-height: 2.2;
  position: relative;
  padding-right: 110px;
}
.site-nav .page-link:not(:first-child) {
  margin-left: 25px;
}
.social-list a {
  margin-left: 4px;
}
.social-list a svg {
  transition: transform 0.1s;
}
.social-list a:hover { 
  text-decoration: none; 
}
.social-list a:hover svg {
  transform: translateY(-1px) scale(1.2, 1.2);
}
.icon>svg, .icon>img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.flex {
  display: flex; 
}
.space-between {
  justify-content: space-between;
}
.center-image
{
  margin: 0 auto;
  display: block;
}

ul ul {
  margin-bottom: 0rem;
}