<h2>Follow me online</h2>
<p>Join the Discord: <a href="{{ site.social_list.discord }}">{{ site.social_list.discord }}</a></p>
<ul>
  <li>GitHub: <a href="{{ site.social_list.github }}">{{ site.social_list.github }}</a></li>
  <li>LinkedIn: <a href="{{ site.social_list.linkedin }}">{{ site.social_list.linkedin }}</a></li>
  <li>Youtube: <a href="{{ site.social_list.youtube }}">{{ site.social_list.youtube }}</a></li>
  <li>Telegram: <a href="{{ site.social_list.telegram }}">{{ site.social_list.telegram }}</a></li>  
</ul>